/**
 *
 */

$typi: (
	null: (16px, 1.5)
);

$typi-h1: (
	null: (2em, 1.5)
);

$typi-h2: (
	null: (1em, 1.5)
);



/**
 *
 */

$font-serif: Georgia, "DejaVu Serif", Norasi, serif;
$font-sans-serif: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;



/**
 *
 */

$color-black: #333;
$color-white: #fff;
$color-gray: #eceeef;
$color-blue: #0e355d;
$color-blue-light: #0077a9;
