/**
 *
 */

.Organization {
	border-radius: 12px;
	max-width: vr(35);
	margin: vr(4) auto;
	background: $color-white;
}

.Organization-header {
	padding: vr(1);
	background: $color-blue;
}

.Organization-name {
	@include typi($typi-h1);
	margin: 0;
	font-size: vr(2);
	line-height: vr(2);
	color: $color-white;
}

.Organization-description {
	margin: 0;
	padding: vr(1);
}

.Organization-repositoryList {
	margin: 0;
	padding: vr(1);
	list-style: none;
}
