/**
 *
 */

.repository {
	margin-bottom: vr(1);
}

.repository-name {
	@include typi($typi-h2);
	margin: 0;
}

.repository-name a {
	text-decoration: none;
	color: $color-blue-light;
}

.repository-name a:hover,
.repository-name a:focus {
	text-decoration: underline;
}

.repository-description {
	margin: 0;
}
